.container
  .col-sm-12.col-md-4.col-md-offset-4
    %h1 Messages
    - if params[:mailbox] == 'inbox'
      %strong= link_to 'Sent Messages', messages_path(:mailbox=>:sent)
    - if params[:mailbox] == 'sent'
      %strong= link_to 'Received Messages', messages_path(:mailbox=>:inbox)
    - @messages.each do |m|
      %p From: #{User.find(m.sender_id).user_name}
      %p To: #{User.find(m.receiver_id).user_name}

      %p Message: #{m.body}
      %button.btn.btn-small
        = link_to 'Reply', new_message_path(reply_to: m.id)



      %hr
      %hr




