
<div class = 'container'>
<% if user_signed_in? %>
<%= current_user.user_name %>	
<%= simple_form_for @profile do |f| %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip_code %>
  <%= f.input :bio, label: 'Describe yourself in 69 characters', :input_html => {:maxlength => 69, :size => 50}, required: true%>
  <%= f.input :whoami, :collection => ['a shitty dude','seeking a shitty dude','both'], required: true, :label => 'I am...' %>
  <%= f.input :sandles_socks, :collection => ['Sandles','Socks','Both'], :label => 'Sandles or Socks' %>
  <%= f.file_field :profile_photo %>
  <%= f.hidden_field :profile_photo_cache %>
  <%= f.input :account_id, :as => :hidden, :input_html => { :value => current_user.id } %>
  <%= f.button :submit %>
<% end %>

  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
</div>