
.container
	<div class="col-md-6">
	<p class='user_name'>My Profile</p>
	- if @profile.user.profile_photo
		= image_tag "#{@profile.profile_photo}", :class => "profile_image"
		<p class='upload_image'>Change profile photo</p>
		= simple_form_for @profile,:method => 'update_photo' do |f| 
			= f.file_field :profile_photo
			= f.hidden_field :profile_photo_cache 
			= f.input :account_id, :as => :hidden, :input_html => { :value => current_user.id }
			= f.button :submit, "Update Photo"
	- else

		
		= image_tag("default_profile_photo.png")
		= simple_form_for @profile,:method => 'update_photo' do |f| 
			= f.file_field :profile_photo
			= f.hidden_field :profile_photo_cache 
			= f.input :account_id, :as => :hidden, :input_html => { :value => current_user.id }
			= f.button :submit, "Add Photo"

	</div>