.col-md-6.col-sm-1.col-md-offset-3
  .intro-text
    %h3 This is #{@user.user_name}.

  %br
  .message-link
    = link_to '', new_message_path({receiver_id: @user.id}), class: "glyphicon glyphicon-envelope"
  %br
  .answers-show-link
    = link_to "#{@user.user_name}'s Shitty Answers", user_answers_show_path({id: @user.profile.id})

  %br
  .profile_image
    - if @profile.profile_photo.present?
      = image_tag "#{@profile.profile_photo}", size: "300x300"
    - else
      = image_tag("default_profile_photo.png")
  %br
  .profile_bio
  - if defined? @profile.bio
    <center>
    <b>In 69 characters or less:</b>
    = "#{@profile.bio}"
    </center>
