<!DOCTYPE html>
<html>
<head>
<title>sdf</title>
= javascript_include_tag 'application' 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' 
= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css' 

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
= csrf_meta_tags
= stylesheet_link_tag    'application', media: 'all' 
</head>
<body>
.navbar.navbar-default{:role => 'navigation'}
  .container-fluid
    .navbar-header
      - if current_user
        .navbar-brand= link_to 'ShittyDudeFinder', authenticated_root_path
      - else
        .navbar-brand= link_to 'ShittyDudeFinder', unauthenticated_root_path


      %button.navbar-toggle{'type' => 'button', 'data-toggle' => "collapse",  'data-target' => "#navbartarget"}
        %span.glyphicon.glyphicon-align-justify
        %span.sr-only Toggle Only
    .collapse.navbar-collapse#navbartarget{:role => 'navigation'}
      %ul.nav.navbar-nav
        - if current_user
          %li.hellomessage Hello, #{current_user.user_name.humanize}!
          - if current_user.profile
            %li
              = link_to 'Answer Shitty Questions', edit_profile_path(current_user)
          %li
            = link_to 'Browse Shitty Dudes', user_matches_path(current_user)
          %li
            = link_to 'Inbox', messages_path(:mailbox=>:inbox)
          %li
            = link_to 'Sign Out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Sign Up', new_user_registration_path
          %li
            = link_to 'Login', new_user_session_path
    -flash.each do |key, value|
      %div{class: "alert alert-#{key}"} 
        = value
</body>
= yield 
</html>
